# 1. Обзор структуры данных

In [29]:
import pandas as pd

column_names = [
    "age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"
]

df = pd.read_csv("adult.data.csv", header=None, names=column_names, na_values=" ?", skipinitialspace=True)

In [30]:
print(df.info())
print(df.describe(include="all"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
                 age workclass        fnlwgt education  education-num  \
count   32561.000000     32561  3.256100e+04     32561   32561.000000
unique           NaN         9           NaN        16            NaN
top              NaN   Private           NaN   HS-grad            NaN
freq             NaN     22696           NaN     10501            NaN
mean       38.581647       NaN  1.897784e+05       NaN      10.080679
std        13.640433       NaN  1.055500e+05       NaN       2.572720
min        17.000000       NaN  1.228500e+04       NaN       1.000000
25%        28.000000       NaN  1.178270e+05       NaN       9.000000
50%        37.000000       NaN  1.783560e+05       NaN      10.000000
75%        48.000000       NaN  2.370510e+05       NaN      12.000000
max        90.000000       NaN  1.484705e+06       NaN      16.000000

            marital-status      occupation relationship   race    sex  \
count                32561           32561        32561  32561  32561
unique                   7              15            6      5      2
top     Married-civ-spouse  Prof-specialty      Husband  White   Male
freq                 14976            4140        13193  27816  21790
mean                   NaN             NaN          NaN    NaN    NaN
std                    NaN             NaN          NaN    NaN    NaN
min                    NaN             NaN          NaN    NaN    NaN
25%                    NaN             NaN          NaN    NaN    NaN
50%                    NaN             NaN          NaN    NaN    NaN
75%                    NaN             NaN          NaN    NaN    NaN
max                    NaN             NaN          NaN    NaN    NaN

        capital-gain  capital-loss  hours-per-week native-country income
count   32561.000000  32561.000000    32561.000000          32561  32561
unique           NaN           NaN             NaN             42      2
top              NaN           NaN             NaN  United-States  <=50K
freq             NaN           NaN             NaN          29170  24720
mean     1077.648844     87.303830       40.437456            NaN    NaN
std      7385.292085    402.960219       12.347429            NaN    NaN
min         0.000000      0.000000        1.000000            NaN    NaN
25%         0.000000      0.000000       40.000000            NaN    NaN
50%         0.000000      0.000000       40.000000            NaN    NaN
75%         0.000000      0.000000       45.000000            NaN    NaN
max     99999.000000   4356.000000       99.000000            NaN    NaN

# 2. Обработка пропущенных значений

In [31]:
for column in ["workclass", "occupation", "native-country"]:
    mode_value = df[column].mode()[0]
    df[column] = df[column].fillna(mode_value)

# 3. Обнаружение и удаление выбросов

In [33]:
for column in ["age", "hours-per-week"]:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# 4. Масштабирование числовых признаков

In [34]:
for column in ["age", "education-num", "hours-per-week"]:
    mean = df[column].mean()
    std = df[column].std()
    df[column] = (df[column] - mean) / std

# 5. Кодирование категориальных признаков

In [35]:
education_order = {
    "Preschool": 0,
    "1st-4th": 1,
    "5th-6th": 2,
    "7th-8th": 3,
    "9th": 4,
    "10th": 5,
    "11th": 6,
    "12th": 7,
    "HS-grad": 8,
    "Some-college": 9,
    "Assoc-voc": 10,
    "Assoc-acdm": 11,
    "Bachelors": 12,
    "Masters": 13,
    "Prof-school": 14,
    "Doctorate": 15
}
df["education"] = df["education"].map(education_order)

In [36]:
df = pd.get_dummies(df, columns=["workclass"], drop_first=True)

# 6. Финальный обзор данных

In [28]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 23499 entries, 0 to 32560
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         23499 non-null  float64
 1   fnlwgt                      23499 non-null  int64
 2   education                   0 non-null      float64
 3   education-num               23499 non-null  float64
 4   marital-status              23499 non-null  object
 5   occupation                  23499 non-null  object
 6   relationship                23499 non-null  object
 7   race                        23499 non-null  object
 8   sex                         23499 non-null  object
 9   capital-gain                23499 non-null  int64
 10  capital-loss                23499 non-null  int64
 11  hours-per-week              23499 non-null  float64
 12  native-country              23499 non-null  object
 13  income                      23499 non-null  object
 14  workclass_Federal-gov       23499 non-null  bool
 15  workclass_Local-gov         23499 non-null  bool
 16  workclass_Never-worked      23499 non-null  bool
 17  workclass_Private           23499 non-null  bool
 18  workclass_Self-emp-inc      23499 non-null  bool
 19  workclass_Self-emp-not-inc  23499 non-null  bool
 20  workclass_State-gov         23499 non-null  bool
 21  workclass_Without-pay       23499 non-null  bool
dtypes: bool(8), float64(4), int64(3), object(7)
memory usage: 2.9+ MB
None
        age  fnlwgt  education  education-num      marital-status  \
0  0.021298   77516        NaN       1.139338       Never-married
2 -0.060734  215646        NaN      -0.436072            Divorced
3  1.169747  234721        NaN      -1.223777  Married-civ-spouse
4 -0.881055  338409        NaN       1.139338  Married-civ-spouse
5 -0.142766  284582        NaN       1.533190  Married-civ-spouse

          occupation   relationship   race     sex  capital-gain  ...  \
0       Adm-clerical  Not-in-family  White    Male          2174  ...
2  Handlers-cleaners  Not-in-family  White    Male             0  ...
3  Handlers-cleaners        Husband  Black    Male             0  ...
4     Prof-specialty           Wife  Black  Female             0  ...
5    Exec-managerial           Wife  White  Female             0  ...

   native-country  income workclass_Federal-gov workclass_Local-gov  \
0   United-States   <=50K                 False               False
2   United-States   <=50K                 False               False
3   United-States   <=50K                 False               False
4            Cuba   <=50K                 False               False
5   United-States   <=50K                 False               False

   workclass_Never-worked  workclass_Private  workclass_Self-emp-inc  \
0                   False              False                   False
2                   False               True                   False
3                   False               True                   False
4                   False               True                   False
5                   False               True                   False

   workclass_Self-emp-not-inc  workclass_State-gov  workclass_Without-pay
0                       False                 True                  False
2                       False                False                  False
3                       False                False                  False
4                       False                False                  False
5                       False                False                  False

[5 rows x 22 columns]